:host {
    mat-dialog-content {
        height: 27vh !important;
        mat-form-field {
            width: 100%;
            &.halfWidth {
                width: 50% !important;
            }
        }
    }
}