:host {
    button {
        left: calc(100% - 180px);
        margin: 15px;
        position: relative;
    }
    mat-table {
        margin: 0 15px;
        .mat-column-index {
            max-width: 85px;
        }
        mat-row:hover {
            background-color: #555555;
        }
    }
}