<div class='navigationContainer'>

  <div class='logoContainer'></div>

  <div class='innerContainer'>
    <fanx-nav-link [route]="'dashboard'" [icon]="'far fa-home fa-fw'" [text]="'Home'"></fanx-nav-link>
    <fanx-nav-link [route]="'cons'" [icon]="'far fa-calendar-week fa-fw'" [text]="'Cons'"></fanx-nav-link>
    <fanx-nav-link [route]="'guests'" [icon]="'far fa-user-secret fa-fw'" [text]="'Guests'"></fanx-nav-link>
    <fanx-nav-link [route]="'vendors'" [icon]="'far fa-comments-dollar fa-fw'" [text]="'Vendors'"></fanx-nav-link>
  </div>

  <div class='innerContainer fixBottom'>
    <fanx-nav-link [route]="'settings'" [icon]="'far fa-cogs fa-fw'" [text]="'Settings'"></fanx-nav-link>
    <div class='linkContainer'>
      <a href='#' mat-menu-item (click)='doSignOut($event)'>
        <i class='far fa-sign-out-alt fa-fw'></i><br />
        Sign Out
      </a>
    </div>
  </div>

</div>